<ion-view view-title="Monitores">
  <ion-content class="border-top-green" ng-controller="MonitorsCtrl as monitorsCtrl">

    <div class="list list-no-padding">

      <div class="item item-divider">
         Seleccione un monitor
       </div>

      <a ng-repeat="monitor in monitorsCtrl.monitors" class="item item-icon-right" ui-sref="tab.monitors-details({monitorId: monitor.id})">
        <i class="icon ion-ios-arrow-right"></i>
        {{ monitor.name }}
      </a>

    </div>

  </ion-content>
</ion-view>
