<div class="list list-no-padding">

  <div class="item item-divider">
    Resultados de la búsqueda
  </div>

  <div ng-repeat="project in mobilesBudgetActivityCtrl.mobBudgetService.dataForActivity">
    <div class="item item-stable" ng-click="mobilesBudgetActivityCtrl.toggleGroup(project)"
    ng-class="{active : mobilesBudgetActivityCtrl.isGroupShown(project)}">
    <div class="row">
      <div class="col col-67">
        <h2><i class="icon padding-right-1-percent" ng-class="mobilesBudgetActivityCtrl.isGroupShown(project) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
          {{  project.proyecto  }}</h2>
          <p ng-class="{'color-assertive bold' : project.desvio < 90}">{{  project.desvio.toFixed(2)  }} % de desvío</p>
        </div>
        <div class="col col-33">
          <p class="color-balanced bold">{{ project.opeServicios }} servicios</p>
          <p class="color-balanced bold">{{ project.espServicios }} servicios esp.</p>
        </div>
      </div>

    </div>
    <div class="item item-accordion no-padding" ng-repeat="det in project.detail"
    ng-show="mobilesBudgetActivityCtrl.isGroupShown(project)">
    <div class="row no-padding">

      <div class="col col-50 col-mobiles-budget-detail-left padding-2" >
        <div class="row">
          <div class="col col-50">
            <p><span class="bold"><i class="icon ion-ios-heart color-assertive padding-right-5"></i> Móvil</span></p>
            <p><span class="bold">Hs. Op: </span> </p>
            <p><span class="bold">Serv.: </span> </p>
            <p><span class="bold">Frec.: </span> </p>
          </div>
          <div class="col col-50">
            <p><span class="color-black bold">{{  det.movilId }}</span></p>
            <p><span class="color-black bold">{{  mobilesBudgetActivityCtrl.minutesToTime(det.opeHoras)   }}</span></p>
            <p><span class="color-black bold">{{  det.opeServicios  }}</span></p>
            <p><span class="color-black bold">{{  mobilesBudgetActivityCtrl.minutesToTime(det.opeFrecuencia)   }}</span></p>
          </div>
        </div>
      </div>

      <div class="col col-50 padding-2">
        <div class="row">
          <div class="col col-50">
            <p><span class="bold">Hs. Esp:  </span></p>
            <p><span class="bold">Sv. Esp: </span> </p>
            <p><span class="bold">Fc. Esp: </span> </p>
            <p><span class="bold">Desvio: </span> </p>
          </div>
          <div class="col col-50">
            <p><span class="color-black bold">{{  mobilesBudgetActivityCtrl.minutesToTime(det.espHoras)  }}</span></p>
            <p><span class="color-black bold">{{  det.espServicios  }}</span></p>
            <p><span class="color-black bold">{{  mobilesBudgetActivityCtrl.minutesToTime(det.espFrecuencia)  }}</span></p>
            <p><span class="color-black bold">{{  det.desvio | number:2   }}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
