<div class="list list-no-padding">

  <div class="item item-divider">
    Resultados de la búsqueda
  </div>

  <div ng-repeat="mobile in liquidationOfObjectivesMonitorActivityCtrl.service.mobiles">
    <div class="item item-stable" ng-click="liquidationOfObjectivesMonitorActivityCtrl.toggleGroup(mobile)"
    ng-class="{active : liquidationOfObjectivesMonitorActivityCtrl.isGroupShown(mobile)}">
    <div class="row">
      <div class="col col-99">
        <h2><i class="icon padding-right-1-percent" ng-class="liquidationOfObjectivesMonitorActivityCtrl.isGroupShown(mobile) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
          Móvil {{  mobile.movilId }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col col-50">
          <p class="bold">{{ mobile.cumplido}}% cumplido liq. </p>
        </div>
        <div class="col col-50">
          <p class="bold">{{ mobile.cumplidoInc }}% cumplido inc. </p>
        </div>
      </div>

    </div>

    <div class="item item-accordion"
    ng-show="liquidationOfObjectivesMonitorActivityCtrl.isGroupShown(mobile)">
    <div class="row">
      <div class="col col-100">
        <p class="bold"> Total incidentes: {{ mobile.servicios }}</p>
      </div>
    </div>
    <div class="row padding-bottom-0">
      <div class="col col-50">
        <p class="bold"> Imp. Obj.: {{ mobile.impObjetivo | currency}}  </p>
      </div>
      <div class="col col-50">
        <p class="bold">Imp. Liq.: {{ mobile.impLiquidacion | currency }} </p>
      </div>
    </div>
  </div>
</div>
</div>
