<div>

  <div class="list list-no-padding">

    <div class="item item-divider">
      Seleccione los filtros
    </div>

    <!-- fecha desde -->

    <label class="item item-input">
      <div class="input-label">
        Fecha Desde
      </div>
      <input type="date" class="text-align-right" ng-model="mobilesBudgetFilterCtrl.data.selected.dateSince" />
    </label>

    <!-- fecha hasta -->

    <label class="item item-input">
      <div class="input-label">
        Fecha Hasta
      </div>
      <input type="date" class="text-align-right" ng-model="mobilesBudgetFilterCtrl.data.selected.dateTo" />
    </label>

    <!-- analizar -->

    <label class="item item-input item-select">
      <div class="input-label">
        Analizar
      </div>
      <select ng-model="mobilesBudgetFilterCtrl.data.selected.analyze"
      ng-options="option.value as option.name for option
      in mobilesBudgetFilterCtrl.data.filters.analyze">
    </select>
  </label>

  <!-- tipo de movil -->

  <label class="item item-input item-select">
    <div class="input-label">
      Tipo de móvil
    </div>
    <select ng-model="mobilesBudgetFilterCtrl.data.selected.mobileType"
    ng-options="option.value as option.name for option
    in mobilesBudgetFilterCtrl.data.filters.mobileTypes">
  </select>
</label>

<!-- proyecto -->

<label class="item item-input item-select">
  <div class="input-label">
    Proyecto
  </div>
  <select ng-model="mobilesBudgetFilterCtrl.data.selected.project"
  ng-options="option.value as option.name for option
  in mobilesBudgetFilterCtrl.data.filters.projects">
</select>
</label>

</div>

<div class="row">
  <button class="button button-block button-balanced" ng-click="mobilesBudgetFilterCtrl.search()">
    Buscar
  </button>
</div>


</div>
