<div class="list list-no-padding">

  <div class="item item-divider">
    Resultados de la búsqueda
  </div>

  <div ng-repeat="monitor in operativeMonitorActivityCtrl.opMonitorService.monitors">
    <div class="item item-stable" ng-click="operativeMonitorActivityCtrl.toggleGroup(monitor)"
    ng-class="{active : operativeMonitorActivityCtrl.isGroupShown(monitor)}">
    <div class="row">
      <div class="col col-75">
        <h2><i class="icon padding-right-1-percent" ng-class="operativeMonitorActivityCtrl.isGroupShown(monitor) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
          {{  monitor.tipoMovil  }}</h2>
          <p ng-class="{'color-assertive bold' : monitor.lessThan90PercentAccordance}">{{  monitor.conformidad  }}% de conformidad</p>
        </div>
        <div class="col col-25">
          <p class="color-balanced bold">{{ monitor.esperados }} esperados</p>
          <p class="color-balanced bold">{{ monitor.activos }} activos</p>
        </div>
      </div>

    </div>
    <div class="item item-accordion" ng-repeat="det in monitor.detail"
    ng-show="operativeMonitorActivityCtrl.isGroupShown(monitor)">
    <div class="row">
      <div class="col col-33">
        <h2>Móvil {{  det.movilId  }}</h2>
        <p>Activo <i class="icon {{ det.activeImageIcon }}"></i></p>
      </div>
      <div class="col col-67">
        <p class="bold">{{  det.propietario  }}</p>
        <p class="bold">{{  det.estado  }} </p>
      </div>
    </div>
  </div>
</div>
</div>
