<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- Monitors Tab -->
  <ion-tab title="Monitores" icon-off="ion-ios-monitor-outline" icon-on="ion-ios-monitor" href="#/tab/monitors">
    <ion-nav-view name="monitors"></ion-nav-view>
  </ion-tab>

  <!-- Operative Tab -->
  <ion-tab title="Operativa" icon-off="ion-ios-flame-outline" icon-on="ion-ios-flame" href="#/tab/operative">
    <ion-nav-view name="operative"></ion-nav-view>
  </ion-tab>

  <!-- Notifications Tab -->
  <ion-tab title="Alertas" icon-off="ion-ios-bell-outline" icon-on="ion-ios-bell" href="#/tab/alerts">
    <ion-nav-view name="alerts"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Opciones" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
