<div class="list list-no-padding">

  <div class="item item-divider">
    Resultados de la búsqueda
  </div>

  <div ng-repeat="client in quotaBenefitsMonitorActivityCtrl.quotaBenefitsService.clients">
    <div class="item item-stable" ng-click="quotaBenefitsMonitorActivityCtrl.toggleGroup(client)"
    ng-class="{active : quotaBenefitsMonitorActivityCtrl.isGroupShown(client)}">
    <div class="row">
      <div class="col col-99">
        <h2><i class="icon padding-right-1-percent" ng-class="quotaBenefitsMonitorActivityCtrl.isGroupShown(client) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
          {{  client.cliente }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col col-50">
          <p class="bold">{{ quotaBenefitsMonitorActivityCtrl.getWaitedServices(client) }} esperados </p>
          <p class="bold">{{ client.tomTotal }} tomados</p>
        </div>
        <div class="col col-50">
          <p>Desvío: <span class="bold">{{  client.desvio  }}</span></p>
          <p class="bold">{{ client.rhzTotal }} rechazados</p>
        </div>
      </div>

    </div>

    <div class="item item-accordion"
    ng-show="quotaBenefitsMonitorActivityCtrl.isGroupShown(client)">
    <div class="row">
      <div class="col col-100">
        <p class="bold" ng-class="{'color-assertive' : client.porRechazo > 10}"> {{ client.porRechazo }}% de rechazo </p>
      </div>
    </div>
    <div class="row padding-bottom-0">
      <div class="col col-50">
        <p class="bold"> Total Tomados </p>
        <p><i class="icon ion-record color-assertive"></i><span class="padding-left-5 bold">{{  client.tomRojos }}</span></p>
        <p><i class="icon ion-record color-yellow"></i><span class="padding-left-5 bold">{{  client.tomAmarillos }}</span></p>
      </div>
      <div class="col col-50">
        <p class="bold"> Total Rechazados </p>
        <p><i class="icon ion-record color-assertive"></i><span class="padding-left-5 bold">{{  client.rhzRojos }}</span></p>
        <p><i class="icon ion-record color-yellow"></i><span class="padding-left-5 bold">{{  client.rhzAmarillos }}</span></p>
      </div>
    </div>
  </div>
</div>
</div>
