  <ion-view view-title="Detalle de Monitor">

    <ion-pane>

      <ion-tabs class="tabs-icon-top tabs-color-active-balanced tabs-top">

        <ion-tab title="Filtros" icon-on="ion-ios-search-strong" icon-off="ion-ios-search">
          <ion-pane>
          <ion-content>
            Filtros
          </ion-content>
        </ion-pane>
        </ion-tab>

        <ion-tab title="Actividad" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
          Actividad
        </ion-tab>

        <ion-tab title="Gráficos" icon-on="ion-ios-pie" icon-off="ion-ios-pie-outline">
          Gráficos
        </ion-tab>

      </ion-tabs>

  </ion-pane>

  </ion-view>
