<div>

  <div class="list list-no-padding">

    <div class="item item-divider">
      Seleccione los filtros
    </div>

    <!-- fecha desde -->

    <label class="item item-input">
      <div class="input-label">
        Fecha Desde
      </div>
      <input type="date" class="text-align-right" ng-model="liquidationOfObjectivesMonitorFilterCtrl.data.selected.dateSince" />
    </label>

    <!-- fecha hasta -->

    <label class="item item-input">
      <div class="input-label">
        Fecha Hasta
      </div>
      <input type="date" class="text-align-right" ng-model="liquidationOfObjectivesMonitorFilterCtrl.data.selected.dateTo" />
    </label>


  </div>

  <div class="row">
    <button class="button button-block button-balanced" ng-click="liquidationOfObjectivesMonitorFilterCtrl.search()">
      Buscar
    </button>
  </div>


</div>
